<head>

<title>Healy Aloftcon Camera KML and GeoRSS</title>


<link rel="alternate" type="application/rss+xml" title="USCGC Healy Aloftcon RSS Feed" href="http://vislab-ccom.unh.edu/~schwehr/healy/healy-aloftcon-latest.georss" />

</head>
<body>

<center>
<!--<img src="healy-ge-1.png"/><br/><br/>-->

<img src="{latest_img}"/> <br/>

Images last updated: <b>{time} UTC</b><br/>
If the image is black, it is likely nighttime for the Healy.

</center>

<hr>
<p>UNH CCOM/JHC will be undertaking a Law of the Sea Cruise on the Healy later this summer.</p>

<a href="http://www.icefloe.net/reports_healy.html">Healy - 2009 Missions</a>

<hr>
<p><a href="http://www.icefloe.net/healy.html">http://www.icefloe.net/healy.html</a> and <a href="http://www.icefloe.net/cruisetrack.html">http://www.icefloe.net/cruisetrack.html</a> are the key web pages for the Healy.</p>

<p>This prototype is an initial implementation of a KML feed for Google
Earth of the USCGC Healy Aloftcon camera.  It is a joint project
between the USCG, NSF, LDGO, and CCOM/JHC.</p>

<p>Use <a href="healy-aloftcon-updating.kml">healy-aloftcon-updating.kml</a>
to view the images in Google Earth.  This file updates periodically get the the latest
images.  If you
view <a href="healy-aloftcon-latest.kml">healy-aloftcon-latest.kml</a>
directly, you will have a static view that will never update.  New
images arive every hour from the Healy as long as the satellite link
is working.</p>

<p>You can also view the news feed of new images
with <a href="healy-aloftcon-latest.georss">healy-aloftcon-latest.georss</a>.
This is my first attempt at creating a GeoRSS feed, so I am not sure
that I got the feed correctly implemented.</p>

-Kurt Schwehr 2009-Apr-18
